# ignore prj folder
prj/
prj
prj/DorS_git.xpr
prj/DorS.cache/wt/project.wpc
prj/DorS_git.cache/wt/gui_handlers.wdf
prj/DorS_git.cache/wt/java_command_handlers.wdf
prj/DorS_git.cache/wt/project.wpc
prj/DorS_git.cache/wt/synthesis.wdf
prj/DorS_git.cache/wt/webtalk_pa.xml
prj/DorS_git.runs/impl_1/.init_design.begin.rst
prj/DorS_git.runs/impl_1/.opt_design.begin.rst
prj/DorS_git.runs/impl_1/.place_design.begin.rst
prj/DorS_git.runs/impl_1/.route_design.begin.rst
prj/DorS_git.runs/impl_1/.vivado.begin.rst
prj/DorS_git.runs/impl_1/gen_run.xml
prj/DorS_git.runs/impl_1/init_design.pb
prj/DorS_git.runs/impl_1/opt_design.pb
prj/DorS_git.runs/impl_1/place_design.pb
prj/DorS_git.runs/impl_1/project.wdf
prj/DorS_git.runs/impl_1/route_design.pb
prj/DorS_git.runs/impl_1/runme.log
prj/DorS_git.runs/impl_1/stuff_or_data_top_bus_skew_routed.rpt
prj/DorS_git.runs/impl_1/stuff_or_data_top_bus_skew_routed.rpx
prj/DorS_git.runs/impl_1/stuff_or_data_top_clock_utilization_routed.rpt
prj/DorS_git.runs/impl_1/stuff_or_data_top_control_sets_placed.rpt
prj/DorS_git.runs/impl_1/stuff_or_data_top_drc_opted.rpt
prj/DorS_git.runs/impl_1/stuff_or_data_top_drc_routed.rpt
prj/DorS_git.runs/impl_1/stuff_or_data_top_io_placed.rpt
prj/DorS_git.runs/impl_1/stuff_or_data_top_methodology_drc_routed.rpt
prj/DorS_git.runs/impl_1/stuff_or_data_top_methodology_drc_routed.rpx
prj/DorS_git.runs/impl_1/stuff_or_data_top_opt.dcp
prj/DorS_git.runs/impl_1/stuff_or_data_top_placed.dcp
prj/DorS_git.runs/impl_1/stuff_or_data_top_power_routed.rpt
prj/DorS_git.runs/impl_1/stuff_or_data_top_power_routed.rpx
prj/DorS_git.runs/impl_1/stuff_or_data_top_power_summary_routed.pb
prj/DorS_git.runs/impl_1/stuff_or_data_top_route_status.pb
prj/DorS_git.runs/impl_1/stuff_or_data_top_route_status.rpt
prj/DorS_git.runs/impl_1/stuff_or_data_top_routed.dcp
prj/DorS_git.runs/impl_1/stuff_or_data_top_timing_summary_routed.pb
prj/DorS_git.runs/impl_1/stuff_or_data_top_timing_summary_routed.rpt
prj/DorS_git.runs/impl_1/stuff_or_data_top_timing_summary_routed.rpx
prj/DorS_git.runs/impl_1/stuff_or_data_top_utilization_placed.pb
prj/DorS_git.runs/impl_1/stuff_or_data_top_utilization_placed.rpt
prj/DorS_git.runs/impl_1/stuff_or_data_top.vdi
prj/DorS_git.runs/impl_1/tight_setup_hold_pins.txt
prj/DorS_git.runs/impl_1/vivado.jou
prj/DorS_git.runs/impl_1/vivado.pb
prj/DorS_git.runs/synth_1/.vivado.begin.rst
prj/DorS_git.runs/synth_1/gen_run.xml
prj/DorS_git.runs/synth_1/project.wdf
prj/DorS_git.runs/synth_1/runme.log
prj/DorS_git.runs/synth_1/stuff_or_data_top_utilization_synth.pb
prj/DorS_git.runs/synth_1/stuff_or_data_top_utilization_synth.rpt
prj/DorS_git.runs/synth_1/stuff_or_data_top.dcp
prj/DorS_git.runs/synth_1/stuff_or_data_top.vds
prj/DorS_git.runs/synth_1/vivado.jou
prj/DorS_git.runs/synth_1/vivado.pb
prj/DorS_git.runs/synth_1/.Xil/stuff_or_data_top_propImpl.xdc
